div {
  border: 1px solid black;
  background-color: #BADA55;
}

.container-sidebar {
  height: 100vmax;
  display: block;
}

.container-main {
  display: flex; 
  justify-content: space-between;
  align-content: space-between
}
.movie-list-container {
  margin: 15px;
}